body {
  font-family: var(--primary-font-family);
  font-size: var(--textFontSizePrimary);
  letter-spacing: var(--bigger-letter-spacing);
  word-spacing: var(--bigger-word-gap);
}

.gradient {
  background: var(--background-primary-fallback);
  background: var(--background-primary);
  background: var(--background-primary-moz);
  background: var(--background-primary-webkit);
}

h1, .signup h2, .gallery h2, footer h2 {
  font-family: var(--heading-font-family);
  font-weight: var(--fontWeightRegular);
  text-transform: var(--caps);
}

h1 {
  margin-block-start: var(--mainHeadingMargin);

  font-size: var(--mainHeadingFontSize);
  line-height: var(--lineHeightSmall);
}

h2 {
  font-size: var(--subheadingFontSizePrimary);
}

.members h2, .description h2 {
  font-weight: var(--fontWeightLight);
  font-size: var(--textFontSizePrimary);
}

.members > p, .signup h2+div > div:nth-child(1), .signup h2+div > div:nth-child(1) h3, footer a:only-child {
  font-family: var(--secondary-font-family);
  font-size: var(--textFontSizeSecondary);
  font-weight: var(--fontWeightRegular);
}

.description, .signup > div, .gallery, footer > div:nth-child(2) > div {
  width: var(--siteWidth);
  max-width: var(--siteWIdthMax);
  margin-inline: var(--centeringMargin);
}

header {
  padding-block: var(--headerPaddingTop) var(--headerPaddingBottom);
  
  text-align: center;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--headerWidth);
  margin-inline: var(--centeringMargin);
  margin-block-end: var(--headerMargin);
}

header img {
  width: var(--logoWidth);
}

.members {
  text-align: center;
}

.members > div {
  display: flex;
  justify-content: space-around;

  margin-block: var(--membersMarginTop) var(--membersMarginBottom);
  margin-inline: var(--centeringMargin);
}

.members > div > div {
  margin-inline-end: var(--memberPhotoMargin);
}
.members > div > div:nth-child(1) {
  margin-inline-start: var(--memberPhotoMargin);
}

.description {
  padding-block: var(--descriptionPaddingTop) var(--descriptionPaddingBottom);

  text-align: center;
}

.description h2 {
  margin-block-end: var(--descriptionHeadingMargin);
  
  line-height: var(--bigger-line-height);
}

.description h2 + p {
  margin-block-end: var(--descriptionMarginInside);
  margin-block-start: var(--membersMargin);

  font-size: var(--descriptionFontSizeBig);
  line-height: var(--bigger-line-height);
}

.description > div p {
  width: var(--descriptionTextWidth);
  margin-inline: var(--centeringMargin);

  line-height: var(--lineHeightDescription);
}

.signup {
  position: relative;

  height: var(--signupHeight);
  padding-block-start: var(--signupPaddingTop);

  background-color: var(--background-secondary);
  color: var(--text-color-secondary)
}

.signup h2 {
  margin-block-end: var(--signupHeadingMargin);

  text-align: center;
}

.signup > div > div {
  display: flex;
  justify-content: center;
}

.signup > div > div > div:nth-child(1) {
  flex-basis: var(--signupDetailsWidth);
  margin-inline-end: var(--signupDetailsMargin);

  font-size: var(--dateFontSize);
  line-height: var(--lineHeightScript);
}

.signup > div > div > div:nth-child(2) {
  flex-basis: var(--signupFormWidth);
  margin-inline-start: var(--signupFormMargin);
}

.signup form {
  font-size: var(--formFontSizePrimary);

  border: var(--formBorderWidth) solid transparent;
}

.signup form > div {
  display: flex;
  align-items: flex-end;

  margin-block-end: var(--inputGroupMargin);
}

.signup label {
  display: inline-block;

  margin-inline-end: var(--labelMargin);
}

.signup input {
  flex-grow: var(--inputFlexGrow);

  display: inline-block;

  font-size: inherit;
  font-family: inherit;

  border: none;
  border-bottom: var(--input-border-bottom);
  
  color: var(--text-color-secondary);
  background-color: transparent;
}

.signup button {
  position: absolute;
  bottom: var(--buttonBottom);

  display: block;
  padding: var(--buttonPaddingBlock) var(--buttonPaddingInline);
  margin-inline-start: var(--buttonMargin);

  font-size: var(--buttonFontSizePrimary);
  text-transform: var(--caps);

  color: var(--button-text-color);
  background-color: var(--button-background-color);

  border: none;
  border-radius: var(--buttonBorderRadius);

  transition-property: color, background-color;
  transition-duration: var(--transitionSpeed);

  cursor: pointer;
}

.signup form p:nth-of-type(2) {
  margin-block-start: var(--singupNoteMargin);

  font-size: var(--signupNoteFontSize);
}

.signup [aria-live] p {
  font-size: var(--signupNoteFontSize);
}

.gallery {
  padding-block: var(--galleryPaddingTop) var(--galleryPaddingBottom);

  text-align: center;
}

.gallery > div {
  display: grid;
  grid-template-columns: var(--galleryGrid);
  column-gap: var(--galleryGapColum);
  row-gap: var(--galleryGapRow);

  margin-block-start: var(--galleryMargin);
}

.gallery > div > div {
  box-shadow: var(--galleryShadow);
  overflow: hidden;
}

.gallery img {
  display: block;
  width: var(--fullWidth);
  height: auto;
}

footer {
  color: var(--text-color-secondary);
}

footer h2 {
  font-size: var(--footerFontSize);
}

footer > div:nth-child(1) {
  padding-block-end: var(--ctaPaddingBottom);

  text-align: center;

  background-color: var(--background-dark);
}

footer > div:nth-child(2) {
  padding-block: var(--footerPaddingTop) var(--footerPaddingBottom);

  background-color: var(--background-secondary);

  font-size: var(--signupNoteFontSize);
  line-height: var(--lineHeightBig);
}

footer a {
  line-height: var(--lineHeightBig);
  transition-property: color;
  transition-duration: var(--transitionSpeed);
}

footer span {
  margin-inline-start: var(--deviderMargin);
}

footer a:only-child {
  font-size: var(--ctaFontSize);
  text-transform: var(--caps);
  line-height: normal;
}

footer h2 {
  margin-block-end: var(--footerHeadingMargin);
}

button:hover, button:focus-visible {
  background-color: var(--brown);
  color: var(--text-color-secondary);
}

input:focus-visible {
  outline-color: var(--text-color-secondary);
  outline-offset: var(--inputOutlineOffset);
}

footer a:hover, footer a:focus-visible {
  color: var(--blueDark);
}

footer a:only-child:hover, footer a:only-child:focus-visible {
  color: var(--blueLight);
}